---
preloadImg: '/assets/images/door.webp'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">{{hero.title}}</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/door.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/door.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/door.webp"
			alt="{{hero.imgAlt}}"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs">
	<div class="cs-container">
		<!-- Left Image Section -->
		<div class="cs-left">
			<picture class="cs-picture cs-picture1">
				<source media="(max-width: 600px)" srcset="/assets/images/palm.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/palm.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/palm.webp"
					alt="cabinets"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
			<picture class="cs-picture cs-picture2">
				<source media="(max-width: 600px)" srcset="/assets/images/plaza.webp" />
				<source media="(min-width: 601px)" srcset="/assets/images/plaza.webp" />
				<img
					aria-hidden="true"
					decoding="async"
					src="/assets/images/plaza.webp"
					alt="sbs.imgAlt"
					loading="lazy"
					width="400"
					height="563"
				/>
			</picture>
		</div>
		<!-- Right Content Section-->
		<div class="cs-right">
			<span class="cs-topper">{{sbs.topper}}</span>
			<h2 class="cs-title">{{sbs.title}}</h2>
			<p class="cs-text">{{sbs.text1}}</p>
			<p class="cs-text">{{sbs.text2}}</p>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-42">
	<div class="cs-container">
		<div class="cs-content">
			<div class="cs-flex">
				<span class="cs-topper">{{gallery.topper}}</span>
				<h2 class="cs-title">{{gallery.title}}</h2>
			</div>
			<div class="cs-flex">
				<p class="cs-text">{{gallery.text}}</p>
			</div>
		</div>
		<div class="cs-image-group">
			<picture class="cs-picture cs-picture-1">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/cathedral1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/cathedral1.webp"
					alt="{{gallery.imgAlt1}}"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-2">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/caleta.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/caleta.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/caleta.webp"
					alt="{{gallery.imgAlt2}}"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-3">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/teatro.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/teatro.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/teatro.webp"
					alt="{{gallery.imgAlt3}}"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-4">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/castle.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/castle.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/castle.webp"
					alt="{{gallery.imgAlt4}}"
					width="780"
					height="582"
				/>
			</picture>
			<picture class="cs-picture cs-picture-5">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/beach1.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/beach1.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/beach1.webp"
					alt="{{gallery.imgAlt5}}"
					width="380"
					height="271"
				/>
			</picture>
			<picture class="cs-picture cs-picture-6">
				<source
					media="(max-width: 600px)"
					srcset="/assets/images/sunset.webp"
				/>
				<source
					media="(min-width: 601px)"
					srcset="/assets/images/sunset.webp"
				/>
				<img
					loading="lazy"
					decoding="async"
					src="/assets/images/sunset.webp"
					alt="{{gallery.imgAlt6}}"
					width="380"
					height="271"
				/>
			</picture>
		</div>
	</div>
</section>

{% endblock %}
