---
preloadImg: '/assets/images/tower.webp'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/faqs.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
	<h1 id="home-h">{{hero.title}}</h1>
	<picture>
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			aria-hidden="true"
			decoding="async"
			src="/assets/images/tower.webp"
			alt="{{hero.imgAlt}}"
			loading="eager"
			width="2500"
			height="1667"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">{{faq.topper}}</span>
			<h2 class="cs-title">{{faq.title}}</h2>
		</div>
		<ul class="cs-faq-group">
			<!-- Active class added as default -->
			<li class="cs-faq-item active">
				<button class="cs-button">
					<span class="cs-button-text"> {{faq.question1}} </span>
				</button>
				<p class="cs-item-p">
					<a
						class="cs-li-link"
						href="https://www.renfe.com/es/en/suburban/suburban-cadiz/timetables"
						>{{faq.answer1_a}}</a
					>
				</p>
				<p class="cs-item-p">{{faq.answer1_b}}</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question2}}</span>
				</button>
				<p class="cs-item-p">
					<a class="cs-li-link" href="https://www.renfe.com/es/es"
						>{{faq.answer2_a}}</a
					>
				</p>
				<p class="cs-item-p">{{faq.answer2_b}}</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question3}}</span>
				</button>
				<p class="cs-item-p">
					<a href="https://www.tgcomes.es/consulta-los-horarios/"
						>{{faq.answer3_a}}</a
					>
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question4}}</span>
				</button>
				<p class="cs-item-p">
					<a href="https://www.interparking.es/es-ES/find-parking/Canalejas/"
						>{{faq.answer4_a}}</a
					>
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question5}}</span>
				</button>
				<p class="cs-item-p">{{faq.answer5_a}}</p>
				<p class="cs-item-p">{{faq.answer5_b}}</p>
				<p class="cs-item-p">{{faq.answer5_c}}</p>
				<p class="cs-item-p">{{faq.answer5_d}}</p>
				<p class="cs-item-p">{{faq.answer5_e}}</p>
				<p class="cs-item-p">{{faq.answer5_f}}</p>
				<p class="cs-item-p">{{faq.answer5_g}}</p>
			</li>
		</ul>
		<!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
		<ul class="cs-faq-group">
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question6}}</span>
				</button>
				<p class="cs-item-p">
					<a href="https://revolcom.com/">{{faq.answer6_a}}</a>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>{{faq.answer6_b}}</a
					>
				</p>
				<p class="cs-item-p">
					<a
						href="https://www.tripadvisor.es/Attraction_Review-g187432-d8796158-Reviews-Free_Tour_Cadiz_Lalunares-Cadiz_Costa_de_la_Luz_Andalucia.html"
						>{{faq.answer6_c}}</a
					>
				</p>
				<p class="cs-item-p">
					<a href="https://instabio.cc/galleonflamenco">{{faq.answer6_d}}</a>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question7}}</span>
				</button>
				<p class="cs-item-p">{{faq.answer7_a}}</p>
				<p class="cs-item-p">{{faq.answer7_b}}</p>
				<p class="cs-item-p">{{faq.answer7_c}}</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question8}}</span>
				</button>
				<p class="cs-item-p">
					<a
						href="https://www.google.com/maps/d/u/0/viewer?ll=36.53261874360098%2C-6.299278333319191&z=16&mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ"
					>
						{{faq.answer8_a}}
					</a>
				</p>
			</li>

			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question9}}</span>
				</button>
				<p class="cs-item-p">
					<a href="https://www.eltiempo.es/cadiz.html">{{faq.answer9_a}}</a>
				</p>
				<p class="cs-item-p">
					<a href="https://www.windguru.cz/378664">{{faq.answer9_b}}</a>
				</p>
			</li>
			<li class="cs-faq-item">
				<button class="cs-button">
					<span class="cs-button-text">{{faq.question10}}</span>
				</button>
				<p class="cs-item-p">{{faq.answer10_a}}</p>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                    Map                       -->
<!-- ============================================ -->

<section id="map-720">
	<iframe
		src="https://www.google.com/maps/d/embed?mid=1Ij4rp3sUMhkbkVEsIJAv2qwglZknUfOJ&ehbc=2E312F"
		width="100%"
		height="500"
	></iframe>
</section>

{% endblock %}
