---
preloadImg: '/assets/images/tower.webp'
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Script for Netlify Identity -->
<script
	defer
	src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on('init', (user) => {
			if (!user) {
				window.netlifyIdentity.on('login', () => {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-219">
	<div class="cs-container">
		<h1 class="cs-title">{{ hero.title }}</h1>
		<p class="cs-text">{{ hero.text }}</p>
		<a
			href="https://hotels.cloudbeds.com/en/reservation/1qSOee"
			class="cs-button-solid"
			target="_blank"
		>
			{{ hero.button }}
		</a>
	</div>

	<!-- Background Image -->
	<picture class="cs-background">
		<source media="(max-width: 600px)" srcset="/assets/images/tower.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/tower.webp" />
		<img
			decoding="async"
			src="/assets/images/tower.webp"
			alt="{{ hero.bgImg }}"
			width="2250"
			height="1500"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">{{ services.topper }}</span>
			<h2 class="cs-title">{{ services.title }}</h2>
			<p class="cs-text">{{ services.text }}</p>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/air-conditioner.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{ services.serviceOneTitle }}</h3>
					<p class="cs-item-text">{{ services.serviceOneText }}</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/elevator.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{ services.serviceTwoTitle }}</h3>
					<p class="cs-item-text">{{ services.serviceTwoText }}</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/wifi.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{ services.serviceThreeTitle }}</h3>
					<p class="cs-item-text">{{ services.serviceThreeText }}</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/laundry-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{ services.serviceFourTitle }}</h3>
					<p class="cs-item-text">{{ services.serviceFourText }}</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/room-service.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{services.serviceFiveTitle}}</h3>
					<p class="cs-item-text">{{services.serviceFiveText}}</p>
				</a>
			</li>
			<li class="cs-item">
				<a href="" class="cs-link">
					<picture class="cs-picture">
						<img
							class="cs-icon"
							src="/assets/svgs/terrace-chair.svg"
							loading="lazy"
							decoding="async"
							alt="icon"
							width="38"
							height="52"
							aria-hidden="true"
						/>
					</picture>
					<h3 class="cs-h3">{{services.serviceSixTitle}}</h3>
					<p class="cs-item-text">{{services.serviceSixText}}</p>
				</a>
			</li>
		</ul>
	</div>
</section>

<!-- ============================================ -->
<!--                     CTA1                      -->
<!-- ============================================ -->

<section id="cta-51">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">{{ cta1.topper }}</span>
			<h2 class="cs-title">{{ cta1.title }}</h2>
			<p class="cs-text">{{ cta1.text }}</p>
			<a href="/about" class="cs-button-solid">{{ cta1.button }}</a>
		</div>
	</div>
	<!-- Background Image-->
	<picture class="cs-picture">
		<source media="(max-width: 600px)" srcset="/assets/images/skyline.webp" />
		<source media="(min-width: 601px)" srcset="/assets/images/skyline.webp" />
		<img
			loading="lazy"
			decoding="async"
			src="/assets/images/skyline.webp"
			alt="{{ cta.imgAlt }}"
			width="1920"
			height="1280"
			aria-hidden="true"
		/>
	</picture>
</section>

<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1355">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">{{services2.topper}}</span>
			<h2 class="cs-title">{{services2.title}}</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/to-visit-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3">
						<span class="cs-span">{{services2.text1}}</span>
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/surf.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/surf.webp"
					/>
					<img
						decoding="async"
						src="/assets/images/surf.webp"
						alt="{{services2.imgAlt1}}"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/where-to-eat/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3">
						<span class="cs-span">{{ services2.text2 }}</span>
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/croquets.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/croquets.webp"
					/>
					<img
						decoding="async"
						src="/assets/images/croquets.webp"
						alt="{{services2.imgAlt2}}"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
			<li class="cs-item">
				<a
					href="https://www.nomadscadiz.com/en/Tourism-and-Gastronomy/leisure-in-Cadiz/"
					target="_blank"
					class="cs-link"
				>
					<h3 class="cs-h3">
						<span class="cs-span">{{ services2.text3 }}</span>
					</h3>
				</a>
				<picture class="cs-background">
					<source
						media="(max-width: 600px)"
						srcset="/assets/images/cathedral.webp"
					/>
					<source
						media="(min-width: 601px)"
						srcset="/assets/images/cathedral.webp"
					/>
					<img
						decoding="async"
						src="/assets/images/cathedral.webp"
						alt="{{ services2.imgAlt3}}"
						width="305"
						height="305"
						aria-hidden="true"
					/>
				</picture>
			</li>
		</ul>
	</div>
</section>

{% include 'components/cta.html' %}

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
	<div class="cs-container">
		<div class="cs-content">
			<span class="cs-topper">{{reviews.topper}}</span>
			<h2 class="cs-title">{{reviews.title}}</h2>
		</div>
		<ul class="cs-card-group">
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot1.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Cristina P.
						<span class="cs-job">{{reviews.date1}}</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">{{reviews.review1}}</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/review2.png"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Fernando Q.
						<span class="cs-job">{{reviews.date2}}</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">{{reviews.review2}}</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
			<li class="cs-item">
				<div class="cs-flex-group">
					<picture class="cs-picture">
						<img
							class="cs-profile"
							src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/ecomm-headshot2.jpeg"
							decoding="async"
							alt="profile"
							width="50"
							height="50"
							aria-hidden="true"
							loading="lazy"
						/>
					</picture>
					<span class="cs-name">
						Sarah S.
						<span class="cs-job">{{reviews.date3}}</span>
					</span>
				</div>
				<div class="wrapper">
					<img
						class="cs-item-stars"
						aria-hidden="true"
						loading="lazy"
						decoding="async"
						src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
						alt="stars"
						width="96"
						height="16"
					/>
					<p class="cs-review">{{reviews.review3}}</p>
				</div>
				<!--Quote Icon-->
				<img
					class="cs-quote"
					aria-hidden="true"
					src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg"
					decoding="async"
					alt="quote icon"
					width="120"
					height="99"
				/>
			</li>
		</ul>
	</div>
</section>

{% endblock %}
